<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.POM.MyProject_POM.ContactsPageTest"/>
      <class name="com.POM.MyProject_POM.HomePageTest"/>
      <class name="com.POM.MyProject_POM.LoginPageTest"/>
      <class name="com.POM.MyProject_POM.FreeCrmTest"/>
    </classes>	
  </test> <!-- Test -->
   <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
</suite> <!-- Suite -->
